{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Connexion{% endblock %}
{% block metaDescription %}<meta name="description" content="Voici la page d'identification de l'orange bleue. Il s'agit d'une application à usage professionnel pour tous nos partenaires. Cette application permet de créer un réseau de nos franchisés de la marque et de pouvoir gérer les différents modules selon le contrat.">{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}"> {% endblock %}
{% block h1 %}Connexion l'orange bleue{% endblock %}
{% block main %}
<form action="{{ path('app_login') }}" method="post">
<div>
    {% if app.user %}
        <div>
            Vous êtes connecté avec l'identifiant {{ app.user }},  mais votre compte n'est pac actif. Veuillez contacter le service technique pour avoir plus d'informations à ce sujet. Nous vous remercions de votre compréhension. 
        </div>
        <br>
    {% endif %}
    {% if error %}
        <div id="messageError">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
    </div>
    <div>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
    </div>
    <div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div>
    <div>
        <button type="submit" class="form__input--button">Connexion</button>
    </div>
</div>
</form>
{% endblock %}
