{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Connexion{% endblock %}
{% block metaDescription %}<meta name="description" content="Voici la page d'identification de l'orange bleue. Il s'agit d'une application à usage professionnel pour tous nos partenaires. Cette application permet de créer un réseau de nos franchisés de la marque et de pouvoir gérer les différents modules selon le contrat.">{% endblock %}
{% block main %}
<main class="form-signin w-100 m-auto text-center">
  <form action="{{ path('app_login') }}" method="post" data-bitwarden-watching="1">
    <img class="mb-4 rounded-circle" src="{{ asset('assets/images/icons/orange0796.png') }}" alt="Logo de l'orange bleue">
    <h1 class="h3 mb-3 fw-normal">Connexion</h1>
    {% if error %}
      <div id="messageError" class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="inputEmail" placeholder="nom@exemple.com" value="{{ last_username }}" name="email" autocomplete="email" required autofocus>
      <label for="inputEmail">Adresse e-mail</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="inputPassword" placeholder="Mot de passe" autocomplete="current-password" name="password" required>
      <label for="inputPassword">Mot de passe</label>
    </div>
    <div>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div>
      <button class="w-100 btn btn-lg btn-dark" type="submit">Valider</button>
      <p class="mt-5 mb-3 text-muted">© 2022–2023</p>
  </form>
</main>
{# <div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Bienvenue à l'orange bleue !</h1>
      <p class="col-lg-10 fs-4">La seule marque de sport qui vous pousse au-delà de vos limites.</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light" action="{{ path('app_login') }}" method="post">
        {% if error %}
          <div id="messageError" class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="inputEmail" placeholder="nom@exemple.com" value="{{ last_username}}" name="email" autocomplete="email" required>
          <label for="floatingInput">Addresse e-mail</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="inputPassword" placeholder="Mot de passe" autocomplete="current-password" name="password" required>
          <label for="floatingPassword">Mot de passe</label>
        </div>
        <div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Connexion</button>
      </form>
    </div>
  </div>
</div> #}
{% endblock %}
