{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}- Accueil partenaire{% endblock %}
{% block metaDescription %}<meta name="description" content="Vous êtes sur la page d'accueil d'un partenaire. Vous avez accès à toutes vos informations personnelles. Ainsi que les structures que vous gérez, et les permissions que vous avez pour vous et vos structures.">{% endblock %}
{% block stylesheets %} 
  <link rel="stylesheet" href="{{ asset('assets/css/readItems.css') }}"> 
{% endblock %}
{% block javascripts %} 
  <script src="{{ asset('assets/js/validationMessage.js') }}" defer></script>
{% endblock %}
{% block home %} <a href="/logout">Déconnexion</a> {% endblock %}
{% block research %} <a href="/manager/searchable/">Recherche</a> {% endblock %}
{% block h1 %}Bienvenue {{ user.name }}{% endblock %}

{% block main %}
  <div>
    <h2>Informations personnelles</h2>
    <h3>Nom : {{ user.name }}</h2>
    <h3>Type de compte :
      {% if user.roles == ['ROLE_ADMIN', 'ROLE_MANAGER'] %}Administrateur
      {% elseif user.roles == ['ROLE_PARTNER', 'ROLE_MANAGER'] %}Partenaire
      {% else %}Manager
      {% endif %}
    </h3>
    <h3>Adresse mail : {{ user.email }}</h3>
    <p>Numéro de téléphone : {{ user.phoneNumber }}</p>
    <p>Date de création : {{ user.createdAt | date("d-m-Y") }}</p>
    <p>Utilisateur actif : 
      {% if user.isActive == 1 %}Oui{% else %}Non
      {% endif %}
    </p>
  </div>
  <div>
    <h2>Permission(s) globale(s)</h2>
    {% for permission in user.permissionsUsers %}
      <p>Nom : {{ permission.Permissions }}</p> 
      <p>Permission active :
        {% if permission.isActive == 1 %}Oui{% else %}Non
        {% endif %}
      </p>
      <div>
        {% if permission.isActive == 1 %}
          <a onclick="return disableConfirm()" href="{{ path('disable_permission_partner', {idPermission : permission.Permissions.id}) }}" class="main__div--button">Désactiver</a>
        {% else %}
          <a onclick="return enableConfirm()" href="{{ path('enable_permission_partner', {idPermission : permission.Permissions.id }) }}"  class="main__div--button">Activer</a>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {% for structure in user.structures %}
    <div>
      <h2>Structure</h2>
      <h3>Nom : {{ structure.name }}</h3>
      <p>Numéro de téléphone : {{ structure.phoneNumber }}</p>
      {% for user in structure.users %}
        {% if user.roles == ["ROLE_MANAGER"] %}
          <p>Nom du gérant : {{ user.name }}</p>
          <p>Mail du gérant : {{ user.email }}</p>
        {% endif %}
      {% endfor %}
      <p>Date de création : {{ structure.createdAt | date("d-m-Y") }}</p>
      <p>Structure active : 
        {% if structure.isActive == 1 %}Oui{% else %}Non
        {% endif %}
      </p>
      <div>
      {% if structure.isActive == 1 %}
        <a onclick="return disableConfirm()" href="{{ path('disable_structure_partner', {idStructure : structure.id}) }}" class="main__div--button">Désactiver</a>
      {% else %}
        <a onclick="return enableConfirm()" href="{{ path('enable_structure_partner', {idStructure : structure.id}) }}" class="main__div--button">Activer</a>
      {% endif %}
      </div>
      <br>
      <h2>Permission(s) structure</h2>
      {% for permissionStructure in structure.permissionsStructures %}
        <p>Permission : {{ permissionStructure.permissions }}</p>
        <p>Permission active :
          {% if permissionStructure.isActive == 1 %}Oui{% else %}Non
          {% endif %}
        </p>
        <div>
          {% if permissionStructure.isActive == 1 %}
            <a onclick="return disableConfirm()" href="{{ path('disable_permission_structure_partner', {idPermission : permissionStructure.permissions.id, idStructure : structure.id}) }}" class="main__div--button">Désactiver</a>
          {% else %}
            <a onclick="return enableConfirm()" href="{{ path('enable_permission_structure_partner', {idPermission : permissionStructure.permissions.id, idStructure : structure.id}) }}"  class="main__div--button">Activer</a>
          {% endif %}
        </div>
      {% endfor %}  
    </div>
  {% endfor %}
{% endblock %}
{% block homeFooter %}<a href="/logout">Déconnexion</a>{% endblock %}
{% block CGU %}<a href="/CGU">Mentions légales et CGU</a>{% endblock %}
{% block researchFooter %}<a href="/manager/searchable/">Recherche</a>{% endblock %}
