{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}- Accueil partenaire{% endblock %}
{% block metaDescription %}<meta name="description" content="Vous êtes sur la page d'accueil d'un partenaire. Vous avez accès à toutes vos informations personnelles. Ainsi que les structures que vous gérez, et les permissions que vous avez pour vous et vos structures.">{% endblock %}
{% block body %}
<body 
  class="flex-column bg-black text-white" 
  style="
    padding-top: 4rem;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url({{ asset('assets/images/carousel03.jpg') }}); 
    background-size: cover; 
    background-position: center;
  "
>
{% include "partner/_header.html.twig" %}
{% block main %}
<main class="container text-center">
<h1 class="text-center m-4">Accueil</h1>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">

  <div class="col">
    <div class="card mb-3 text-center h-100 bg-black bg-opacity-75 border-dark" style="max-width: 20rem;">
      <div class="card-header">
        <h2 class="card-title">Informations personnelles</h2>
      </div>
      <div class="card-body">
        <p><i class="bi bi-person-fill"></i> | {{ user.name }}</p>
        <p><i class="bi bi-person-badge-fill"></i> |
          {% if user.roles == ['ROLE_ADMIN', 'ROLE_MANAGER'] %}Administrateur
          {% elseif user.roles == ['ROLE_PARTNER', 'ROLE_MANAGER'] %}Partenaire
          {% else %}Manager
          {% endif %}
        </p>
        <p><i class="bi bi-envelope-at-fill"></i> | {{ user.email }}</p>
        <p><i class="bi bi-telephone-fill"></i> | {{ user.phoneNumber }}</p>
        <p><i class="bi bi-calendar-plus-fill"></i> | {{ user.createdAt | date("d-m-Y") }}</p>
        <p><i class="bi bi-activity"></i> |  
          {% if user.isActive == 1 %}Oui{% else %}Non
          {% endif %}
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-3 text-center h-100 bg-black bg-opacity-75 border-dark" style="max-width: 20rem;">
      <div class="card-header">
        <h2 class="card-title">
          {% if user.permissionsUsers|length != 1 %}
            Modules globales
          {% else %}
            Module globale
          {% endif %}
        </h2>
      </div>
      <div class="car-body">
        {% for permission in user.permissionsUsers %}
          <p><i class="bi bi-plugin"></i> | {{ permission.Permissions }}</p> 
          <p><i class="bi bi-activity"></i> |
            {% if permission.isActive == 1 %}Oui{% else %}Non
            {% endif %}
          </p>
          <div>
            {% if permission.isActive == 1 %}
              <a onclick="return disableConfirm()" href="{{ path('disable_permission_partner', {idPermission : permission.Permissions.id}) }}" class="main__div--button btn btn-outline-light mb-3">Désactiver</a>
            {% else %}
              <a onclick="return enableConfirm()" href="{{ path('enable_permission_partner', {idPermission : permission.Permissions.id }) }}"  class="main__div--button btn btn-outline-light mb-3">Activer</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% for structure in user.structures %}
  <div class="col">
    <div class="card mb-3 text-center h-100 bg-black bg-opacity-75 border-dark" style="max-width: 20rem;">
      <div class="card-header">
        <h2 class="card-title">Salle de sport</h2>
      </div>
      <div class="card-body">
        <p><i class="bi bi-house-fill"></i> | {{ structure.name }}</p>
        <p><i class="bi bi-telephone-fill"></i> | {{ structure.phoneNumber }}</p>
          {% for user in structure.users %}
            {% if user.roles == ["ROLE_MANAGER"] %}
              <p><i class="bi bi-person-fill"></i> | {{ user.name }}</p>
              <p><i class="bi bi-envelope-at-fill"></i> | {{ user.email }}</p>
            {% endif %}
          {% endfor %}
        <p><i class="bi bi-calendar-plus-fill"></i> | {{ structure.createdAt | date("d-m-Y") }}</p>
        <p><i class="bi bi-activity"></i> | 
          {% if structure.isActive == 1 %}Oui{% else %}Non
          {% endif %}
        </p>
        <div>
          {% if structure.isActive == 1 %}
            <a onclick="return disableConfirm()" href="{{ path('disable_structure_partner', {idStructure : structure.id}) }}" class="main__div--button btn btn-outline-light mb-3">Désactiver</a>
          {% else %}
            <a onclick="return enableConfirm()" href="{{ path('enable_structure_partner', {idStructure : structure.id}) }}" class="main__div--button btn btn-outline-light mb-3">Activer</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-3 text-center h-100 bg-black bg-opacity-75 border-dark" style="max-width: 20rem;">
      <div class="card-header">
        <h2 class="card-title">
          {% if structure.permissionsStructures|length != 1 %}
            Modules salle de sport
          {% else %}
            Module salle de sport
          {% endif %}
        </h2>
      </div>
      <div class="card-body">
        {% for permissionStructure in structure.permissionsStructures %}
          <p><i class="bi bi-plugin"></i> | {{ permissionStructure.permissions }}</p>
          <p><i class="bi bi-activity"></i> |
            {% if permissionStructure.isActive == 1 %}Oui{% else %}Non
            {% endif %}
          </p>
          <div>
            {% if permissionStructure.isActive == 1 %}
              <a onclick="return disableConfirm()" href="{{ path('disable_permission_structure_partner', {idPermission : permissionStructure.permissions.id, idStructure : structure.id}) }}" class="main__div--button btn btn-outline-light mb-3">Désactiver</a>
            {% else %}
              <a onclick="return enableConfirm()" href="{{ path('enable_permission_structure_partner', {idPermission : permissionStructure.permissions.id, idStructure : structure.id}) }}"  class="main__div--button btn btn-outline-light mb-3">Activer</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</main>
{% endblock %}
{% include "partner/_footer.html.twig" %}
</body>
{% endblock %}
