{% extends 'base.html.twig' %}

{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page")|url_encode %}

{% block title %}{{ parent() }} - Recherche{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('assets/css/searchable.css') }}"> {% endblock %}
{% block javascripts %} 
  <script src="{{ asset('assets/js/readItems.js') }}" defer></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous" defer></script>
  <script src="{{ asset('assets/js/searchable.js') }}" defer></script>
{% endblock %}
{% block home %}<a href="/admin">Accueil</a>{% endblock %}
{% block h1 %}Recherche utilisateur et structure{% endblock %}

{% block main %}
    <div class="container__element--searchBar">
      <label for="">Chercher un utilisateur/structure</label>
      <input type="text" name="user" id="userFilter" placeholder="Taper le nom de l'utilisateur">
      <h3>Filtres</h3>
      <form id="filters">
        {# {% if queryParams is not empty and queryParams.activeUser is not empty %}
          {% set checked = (true in queryParams.activeUser) ? "checked" : "" %}
        {% else %}
          {% set checked = "" %}
        {% endif %} #}
        <p><input type="checkbox" name="activeUser" id="activeUser" value="true" {# {{checked}} #}>
        <label for="activeUser">Utilisateur Actif</label></p>
        <p><input type="checkbox" name="inactiveUser" id="inactiveUser" value="true">
        <label for="inactiveUser">Utilisateur Inactif</label></p>
        <p><input type="checkbox" name="partner" id="partner" value="true">
        <label for="partner">Partenaire</label></p>
        <p><input type="checkbox" name="manager" id="manager" value="true">
        <label for="manager">Manager</label></p>
        <p><input type="checkbox" name="activeStructure" id="activeStructure" value="true">
        <label for="activeStructure">Structure Active</label></p>
        <p><input type="checkbox" name="inactiveStructure" id="inactiveStructure" value="true">
        <label for="inactiveStructure">Structure Inactive</label></p>
        <p><input type="checkbox" name="structure" id="structure">
        <label for="structure">Structure</label></p>
        
      </form>
    </div>
    <div class="content" id="filter">
      {% include "partner/_content.html.twig" %}
    </div>
{% endblock %}