{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}- Informations manager{% endblock %}
{% block stylesheets %} 
  <link rel="stylesheet" href="{{ asset('assets/css/readItems.css') }}"> 
{% endblock %}

{% block home %}<a href="/manager">Accueil</a>{% endblock %}
{% block h1 %}Informations{% endblock %}

{% block main %}
  <div>
    <h2>Nom : {{ user.name }}</h2>
    <h3>Type de compte :
      {% if user.roles == ['ROLE_ADMIN', 'ROLE_MANAGER'] %}Administrateur
      {% elseif user.roles == ['ROLE_PARTNER', 'ROLE_MANAGER'] %}Partenaire
      {% else %}Manager
      {% endif %}
    </h3>
    <h3>Adresse mail : {{ user.email }}</h3>
    <p>Numéro de téléphone : {{ user.phoneNumber }}</p>
    <p>Date de création : {{ user.createdAt | date("d-m-Y") }}</p>
    <p>Actif : 
      {% if user.isActive == 1 %}Oui{% else %}Non
      {% endif %}
    </p>
  </div>
{% endblock %}