{% extends 'base.html.twig' %}

{% set queryParams = app.request.query.all %}

{% block title %}{{ parent() }} - Recherche{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('assets/css/searchable.css') }}"> {% endblock %}
{% block javascripts %} 
  <script src="{{ asset('assets/js/readItems.js') }}" defer></script>
  <script src="{{ asset('assets/js/jQuery.js') }}" defer></script>
  <script src="{{ asset('assets/js/searchable.js') }}" defer></script>
{% endblock %}
{% block home %}
    <a 
      {% if user.roles == ['ROLE_PARTNER', 'ROLE_MANAGER'] %} 
        href="/partner" 
      {% elseif user.roles == ['ROLE_MANAGER'] %} 
        href="/manager" 
      {% elseif user.roles == ['ROLE_ADMIN', 'ROLE_MANAGER'] %}
        href="/admin"
      {% endif %}
    >Accueil</a>
{% endblock %}
{% block h1 %}Recherche utilisateur et structure{% endblock %}

{% block main %}
  <div class="container__element--searchBar">
    <label for="">Chercher un utilisateur/structure</label>
    <input type="text" name="user" id="userFilter" placeholder="Taper le nom de l'utilisateur">
    <h3>Filtres</h3>
    <form id="filters">

      {% set checkedAU= "" %}
      {% set checkedIU= "" %}
      {% set checkedP= "" %}
      {% set checkedM= "" %}
      {% set checkedAS= "" %}
      {% set checkedIS= "" %}
      {% set checkedS= "" %}

      {% if queryParams is not empty %}
        {% set checkedAU = (queryParams.activeUser|default("0")) ? "checked" : "" %}
        {% set checkedIU = (queryParams.inactiveUser|default("0")) ? "checked" : "" %}
        {% set checkedP = (queryParams.partner|default("0")) ? "checked" : "" %}
        {% set checkedM = (queryParams.manager|default("0")) ? "checked" : "" %}
        {% set checkedAS = (queryParams.activeStructure|default("0")) ? "checked" : "" %}
        {% set checkedIS = (queryParams.inactiveStructure|default("0")) ? "checked" : "" %}
        {% set checkedS = (queryParams.structure|default("0")) ? "checked" : "" %}
      {% endif %}

      <p><input type="checkbox" name="activeUser" id="activeUser" value="true" {{checkedAU}}>
      <label for="activeUser">Utilisateur Actif</label></p>
      <p><input type="checkbox" name="inactiveUser" id="inactiveUser" value="true" {{checkedIU}}>
      <label for="inactiveUser">Utilisateur Inactif</label></p>
      <p><input type="checkbox" name="partner" id="partner" value="true" {{checkedP}}>
      <label for="partner">Partenaire</label></p>
      <p><input type="checkbox" name="manager" id="manager" value="true" {{checkedM}}>
      <label for="manager">Manager</label></p>
      <p><input type="checkbox" name="activeStructure" id="activeStructure" value="true" {{checkedAS}}>
      <label for="activeStructure">Structure Active</label></p>
      <p><input type="checkbox" name="inactiveStructure" id="inactiveStructure" value="true" {{checkedIS}}>
      <label for="inactiveStructure">Structure Inactive</label></p>
      <p><input type="checkbox" name="structure" id="structure" value="true" {{checkedS}}>
      <label for="structure">Structure</label></p>
        
    </form>
  </div>
  <div class="content" id="filter">
    {% include "manager/_content.html.twig" %}
  </div>
{% endblock %}
{% block homeFooter %}
  <a 
    {% if user.roles == ['ROLE_PARTNER', 'ROLE_MANAGER'] %} 
      href="/partner" 
    {% elseif user.roles == ['ROLE_MANAGER'] %} 
      href="/manager" 
    {% elseif user.roles == ['ROLE_ADMIN', 'ROLE_MANAGER'] %}
      href="/admin"
    {% endif %}
  >Accueil</a>
{% endblock %}