{% for user in users %}
    <div>
      <h2>Nom : <span>{{ user.name }}</span></h2>
      <h3>Type de compte :
        {% if user.roles == ['ROLE_ADMIN', 'ROLE_MANAGER'] %}Administrateur
        {% elseif user.roles == ['ROLE_PARTNER', 'ROLE_MANAGER'] %}Partenaire
        {% else %}Manager
        {% endif %}
      </h3>
      <h3>Adresse mail : {{ user.email }}</h3>
      <p>Numéro de téléphone : {{ user.phoneNumber }}</p>
      <p>Date de création : {{ user.createdAt | date("d-m-Y") }}</p>
      <p>Actif : 
        {% if user.isActive == 1 %}Oui{% else %}Non
        {% endif %}
      </p>
      <div>
        <a onclick="return deleteConfirm()" href="{{ path('delete_user', {id : user.id}) }}" class="main__div--button">Supprimer</a>
      </div>
      <div>
        <a href="{{ path('edit_user', {id : user.id}) }}" class="main__div--button">Modifier</a>
      </div>
      <div>
      {% if user.isActive == 1 %}
        <a onclick="return disableConfirm()" href="{{ path('disable_user', {id : user.id}) }}" class="main__div--button">Désactiver</a>
      {% else %}
        <a onclick="return enableConfirm()" href="{{ path('enable_user', {id : user.id}) }}" class="main__div--button">Activer</a>
      {% endif %}
      </div>
    </div>
    {% endfor %}