{% extends 'base.html.twig' %}

{% set queryParams = app.request.query.all %}

{% block title %}{{ parent() }} - Utilisateurs{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('assets/css/searchable.css') }}"> {% endblock %}
{% block javascripts %} 
  <script src="{{ asset('assets/js/validationMessage.js') }}" defer></script>
  <script src="{{ asset('assets/js/jQuery.js') }}" defer></script>
  <script src="{{ asset('assets/js/searchable.js') }}" defer></script>
{% endblock %}
{% block home %}<a href="/admin">Accueil</a>{% endblock %}
{% block h1 %}Utilisateurs{% endblock %}

{% block main %}
  <div class="container__element--searchBar">
    <label for="">Chercher un utilisateur</label>
    <input type="text" name="user" id="userFilter" placeholder="Taper le nom de l'utilisateur">
    <h3>Filtres</h3>
    <form id="filters">

      {% set checkedAU= "" %}
      {% set checkedIU= "" %}
      {% set checkedP= "" %}
      {% set checkedM= "" %}
      {% set checkedA= "" %}

      {% if queryParams is not empty %}
        {% set checkedAU = (queryParams.activeUser|default("0")) ? "checked" : "" %}
        {% set checkedIU = (queryParams.inactiveUser|default("0")) ? "checked" : "" %}
        {% set checkedP = (queryParams.partner|default("0")) ? "checked" : "" %}
        {% set checkedM = (queryParams.manager|default("0")) ? "checked" : "" %}
        {% set checkedA = (queryParams.admin|default("0")) ? "checked" : "" %}
      {% endif %}

      <p><input type="checkbox" name="activeUser" id="activeUser" value="true" {{checkedAU}}>
      <label for="activeUser">Utilisateur Actif</label></p>
      <p><input type="checkbox" name="inactiveUser" id="inactiveUser" value="true" {{checkedIU}}>
      <label for="inactiveUser">Utilisateur Inactif</label></p>
      <p><input type="checkbox" name="admin" id="admin" value="true" {{checkedA}}>
      <label for="admin">Administrateur</label></p>
      <p><input type="checkbox" name="partner" id="partner" value="true" {{checkedP}}>
      <label for="partner">Partenaire</label></p>
      <p><input type="checkbox" name="manager" id="manager" value="true" {{checkedM}}>
      <label for="manager">Manager</label></p>
        
    </form>
  </div>
  <div class="content" id="filter">
    {% include "admin/users/_content.html.twig" %}
  </div>
{% endblock %}
{% block homeFooter %}<a href="/admin">Accueil</a>{% endblock %}
{% block CGU %}<a href="/CGU">Mentions légales et CGU</a>{% endblock %}