{% extends 'base.html.twig' %}

{% set queryParams = app.request.query.all %}

{% block title %}{{ parent() }} - Utilisateurs{% endblock %}
{% block metaDescription %}<meta name="description" content="Vous êtes sur la page de gestion des utilisateurs. Vous avez accès à tous les utilisateurs. Vous pouvez également faire une recherche dynamique afin de retrouver le nom de celui que vous cherchez. Ensuite, vous avez accès à des boutons afin de faire des modifications dessus.">{% endblock %}
{% block javascripts2 %} 
  <script src="{{ asset('assets/js/validationMessage.js') }}" defer></script>
  <script src="{{ asset('assets/js/jQuery.js') }}" defer></script>
  <script src="{{ asset('assets/js/searchable.js') }}" defer></script>
{% endblock %}
{% block body %}
<body 
  class="flex-column bg-black text-white"
  style="
    padding-top: 4rem;
    width: 100%; 
    background-attachment: fixed;
    background-image: url({{ asset('assets/images/carousel08.jpg') }}); 
    background-size: cover; 
  "
>
{% include "admin/_header.html.twig" %}
{% block main %}
<main>
<h1 class="m-4 text-center">Gérer les utilisateurs</h1>
  <div class="container__element--searchBar">
    <label for="">Chercher un utilisateur</label>
    <input type="text" name="user" id="userFilter" placeholder="Taper le nom de l'utilisateur">
    <h3>Filtres</h3>
    <form id="filters">

      {% set checkedAU= "" %}
      {% set checkedIU= "" %}
      {% set checkedP= "" %}
      {% set checkedM= "" %}
      {% set checkedA= "" %}

      {% if queryParams is not empty %}
        {% set checkedAU = (queryParams.activeUser|default("0")) ? "checked" : "" %}
        {% set checkedIU = (queryParams.inactiveUser|default("0")) ? "checked" : "" %}
        {% set checkedP = (queryParams.partner|default("0")) ? "checked" : "" %}
        {% set checkedM = (queryParams.manager|default("0")) ? "checked" : "" %}
        {% set checkedA = (queryParams.admin|default("0")) ? "checked" : "" %}
      {% endif %}

      <p><input type="checkbox" name="activeUser" id="activeUser" value="true" {{checkedAU}}>
      <label for="activeUser">Utilisateur Actif</label></p>
      <p><input type="checkbox" name="inactiveUser" id="inactiveUser" value="true" {{checkedIU}}>
      <label for="inactiveUser">Utilisateur Inactif</label></p>
      <p><input type="checkbox" name="admin" id="admin" value="true" {{checkedA}}>
      <label for="admin">Administrateur</label></p>
      <p><input type="checkbox" name="partner" id="partner" value="true" {{checkedP}}>
      <label for="partner">Partenaire</label></p>
      <p><input type="checkbox" name="manager" id="manager" value="true" {{checkedM}}>
      <label for="manager">Manager</label></p>
        
    </form>
  </div>
  <div class="container content row row-cols-1 row-cols-md-3 g-4" id="filter">
    {% include "admin/users/_content.html.twig" %}
  </div>
{% endblock %}
{% include "admin/_footer.html.twig" %}
</body>
{% endblock %}