<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}'orange bleue{% endblock %}</title>
		<!-- Meta tag for the responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- START: Link tag for the favicon --> 
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/images/icons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/images/icons/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/images/icons/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/images/icons/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/images/icons/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/images/icons/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/images/icons/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/images/icons/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/icons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('assets/images/icons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/images/icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/images/icons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/icons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assets/images/icons/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- END: Link tag for the favicon --> 
    <!-- START: Link tag for the font google Noto sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- END: Link tag for the font google Noto sans -->
    <!-- START: Link tag for the font google Pacifico -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Pacifico&display=swap" rel="stylesheet">
    <!-- END: Link tag for the font google Pacifico -->
    <!-- Link tag for the stylesheet -->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
    {% block stylesheets %}{% endblock %}
    <!-- Link tag for the javascripts. With the attribute defer, the script is downloaded in parallel to parsing the page, and executed after the page has finished parsing  -->
    <script src="{{ asset('assets/js/script.js') }}" defer></script>
    {% block javascripts %}{% endblock %}
	</head>
	<body>
    <header>
{#    {% block header %}
<div id="root">
  <div id="topnav" class="topnav">
    <a id="home_link" class="topnav_link" href="/admin">Accueil</a>

    <!-- Classic Menu -->
    <nav role="navigation" id="topnav_menu">
      <a class="topnav_link" href="/about">ABOUT</a>
      <a class="topnav_link" href="/contact-us">CONTACT</a>
    </nav>

    <a id="topnav_hamburger_icon" href="#" onclick="showResponsiveMenu()">
      <!-- Some spans to act as a hamburger -->
      <span></span>
      <span></span>
      <span></span>
    </a>

    <!-- Responsive Menu -->
    <nav role="navigation" id="topnav_responsive_menu">
      <ul>
        <li><a href="/admin">Accueil</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact-us">CONTACT</a></li>
        <li><a href="/privacy-policy">PRIVACY POLICY</a></li>
        <li><a href="/terms-and-conditions">TERMS AND CONDITIONS</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %} #}
    {% block header %}
      <div class="header__item--home">
        {% block home %}{% endblock %}
      </div>
      <div class="header__item--welcome">
        <h1>{% block h1 %}Connexion{% endblock %}</h1>
      </div>
    {% endblock %}
    </header>
    <main>
		{% block main %}{% endblock %}
    </main>
	</body>
	</html>
